pi5/node-red-flow.json
[
    {
        "id": "lora-mqtt-sub",
        "type": "mqtt in",
        "name": "LoRa Messages",
        "topic": "lora/data",
        "qos": "1",
        "broker": "local-broker",
        "x": 100,
        "y": 100,
        "wires": [["parse-json"]]
    },
    {
        "id": "parse-json",
        "type": "json",
        "name": "Parse JSON",
        "property": "payload",
        "x": 300,
        "y": 100,
        "wires": [["filter-sensor-data"]]
    },
    {
        "id": "filter-sensor-data",
        "type": "switch",
        "name": "Filtrer SENSOR_DATA",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "SENSOR_DATA", "vt": "str"}
        ],
        "checkall": "false",
        "x": 500,
        "y": 100,
        "wires": [["sensor-data-function", "radar-update", "stats-extract", "targets-list"]]
    },
    {
        "id": "sensor-data-function",
        "type": "function",
        "name": "Format SENSOR_DATA",
        "func": "const d = msg.payload.details || {};\nconst count = d.count !== undefined ? d.count : 0;\nconst targets = d.targets || [];\n\nlet text = `📡 Capteur: ${count} ${count <= 1 ? 'cible' : 'cibles'}\\n\\n`;\n\nif (count === 0) {\n    text += '→ Zone libre (pas de présence détectée)';\n} else {\n    targets.forEach((target, idx) => {\n        const x = target.x || 0;\n        const y = target.y || 0;\n        const speed = target.speed || 0;\n        const dist = target.distance_cm || 0.0;\n        const res = target.resolution || 0;\n        text += `🎯 Cible ${idx + 1}:\\n`;\n        text += `   Position: X=${x}mm, Y=${y}mm\\n`;\n        text += `   Distance: ${dist.toFixed(1)}cm\\n`;\n        text += `   Vitesse: ${speed}cm/s\\n`;\n        text += `   Résolution: ${res}\\n\\n`;\n    });\n}\n\nmsg.payload = text;\nreturn msg;",
        "outputs": 1,
        "x": 700,
        "y": 80,
        "wires": [["sensor-data-display"]]
    },
    {
        "id": "stats-extract",
        "type": "function",
        "name": "Extraire statistiques",
        "func": "// Accéder aux données depuis msg.payload.details\nconst d = msg.payload.details || {};\nconst targets = Array.isArray(d.targets) ? d.targets : [];\nconst count = d.count !== undefined ? Number(d.count) : (targets.length || 0);\n\n// Initialiser l'historique si nécessaire\nif (!context.history) {\n    context.history = {\n        distances: [],\n        speeds: [],\n        counts: []\n    };\n}\n\n// Ajouter les valeurs actuelles à l'historique\nif (targets.length > 0) {\n    targets.forEach(function(t) {\n        const dist = Number(t.distance_cm) || 0;\n        const speed = Number(t.speed) || 0;\n        if (dist > 0) context.history.distances.push(dist);\n        if (speed > 0) context.history.speeds.push(speed);\n    });\n    context.history.counts.push(count);\n}\n\n// Limiter l'historique aux 50 dernières valeurs\nconst maxHistory = 50;\nif (context.history.distances.length > maxHistory) {\n    context.history.distances = context.history.distances.slice(-maxHistory);\n}\nif (context.history.speeds.length > maxHistory) {\n    context.history.speeds = context.history.speeds.slice(-maxHistory);\n}\nif (context.history.counts.length > maxHistory) {\n    context.history.counts = context.history.counts.slice(-maxHistory);\n}\n\n// Calculer les statistiques sur l'historique\nlet avgDistance = 0;\nlet maxDistance = 0;\nlet avgSpeed = 0;\nlet maxSpeed = 0;\n\n// Statistiques sur les valeurs actuelles (pour affichage immédiat)\nlet currentAvgDistance = 0;\nlet currentMaxDistance = 0;\nlet currentAvgSpeed = 0;\nlet currentMaxSpeed = 0;\n\nif (targets.length > 0) {\n    let totalDist = 0;\n    let totalSpeed = 0;\n    targets.forEach(function(t) {\n        const dist = Number(t.distance_cm) || 0;\n        const speed = Number(t.speed) || 0;\n        totalDist += dist;\n        totalSpeed += speed;\n        if (dist > currentMaxDistance) currentMaxDistance = dist;\n        if (speed > currentMaxSpeed) currentMaxSpeed = speed;\n    });\n    currentAvgDistance = totalDist / targets.length;\n    currentAvgSpeed = totalSpeed / targets.length;\n}\n\n// Calculer les moyennes sur l'historique\nif (context.history.distances.length > 0) {\n    const sumDist = context.history.distances.reduce(function(a, b) { return a + b; }, 0);\n    avgDistance = sumDist / context.history.distances.length;\n    maxDistance = Math.max.apply(null, context.history.distances);\n}\n\nif (context.history.speeds.length > 0) {\n    const sumSpeed = context.history.speeds.reduce(function(a, b) { return a + b; }, 0);\n    avgSpeed = sumSpeed / context.history.speeds.length;\n    maxSpeed = Math.max.apply(null, context.history.speeds);\n}\n\n// Utiliser les valeurs actuelles si l'historique est vide\nif (context.history.distances.length === 0) {\n    avgDistance = currentAvgDistance;\n    maxDistance = currentMaxDistance;\n}\nif (context.history.speeds.length === 0) {\n    avgSpeed = currentAvgSpeed;\n    maxSpeed = currentMaxSpeed;\n}\n\n// Envoyer plusieurs messages pour les différents widgets (valeurs numériques)\nreturn [\n    {payload: count},\n    {payload: Number(avgDistance.toFixed(1))},\n    {payload: Number(maxDistance.toFixed(1))},\n    {payload: Number(avgSpeed.toFixed(1))},\n    {payload: Number(maxSpeed.toFixed(1))}\n];",
        "outputs": 5,
        "x": 700,
        "y": 160,
        "wires": [
            ["count-gauge"],
            ["avg-distance-gauge"],
            ["max-distance-gauge"],
            ["avg-speed-gauge"],
            ["max-speed-gauge"]
        ]
    },
    {
        "id": "count-gauge",
        "type": "ui_gauge",
        "name": "Nombre de cibles",
        "group": "stats-group",
        "order": 1,
        "width": "4",
        "height": 0,
        "gtype": "gage",
        "title": "Nombre de cibles",
        "label": "cibles",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "3",
        "seg2": "7",
        "x": 1100,
        "y": 140,
        "wires": []
    },
    {
        "id": "avg-distance-gauge",
        "type": "ui_gauge",
        "name": "Distance moyenne",
        "group": "stats-group",
        "order": 1,
        "width": "4",
        "height": 0,
        "gtype": "gage",
        "title": "Distance moyenne (historique)",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": 600,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "200",
        "seg2": "400",
        "x": 1100,
        "y": 160,
        "wires": []
    },
    {
        "id": "max-distance-gauge",
        "type": "ui_gauge",
        "name": "Distance max",
        "group": "stats-group",
        "order": 1,
        "width": "4",
        "height": 0,
        "gtype": "gage",
        "title": "Distance max (historique)",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": 600,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "200",
        "seg2": "400",
        "x": 1100,
        "y": 180,
        "wires": []
    },
    {
        "id": "avg-speed-gauge",
        "type": "ui_gauge",
        "name": "Vitesse moyenne",
        "group": "stats-group",
        "order": 2,
        "width": "6",
        "height": 0,
        "gtype": "gage",
        "title": "Vitesse moyenne (historique)",
        "label": "cm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 200,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "50",
        "seg2": "100",
        "x": 1100,
        "y": 200,
        "wires": []
    },
    {
        "id": "max-speed-gauge",
        "type": "ui_gauge",
        "name": "Vitesse max",
        "group": "stats-group",
        "order": 2,
        "width": "6",
        "height": 0,
        "gtype": "gage",
        "title": "Vitesse max (historique)",
        "label": "cm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 200,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "50",
        "seg2": "100",
        "x": 1100,
        "y": 220,
        "wires": []
    },
    {
        "id": "targets-list",
        "type": "function",
        "name": "Liste des cibles",
        "func": "// Accéder aux données depuis msg.payload.details\nconst d = msg.payload.details || {};\nconst targets = Array.isArray(d.targets) ? d.targets : [];\nconst count = d.count !== undefined ? d.count : (targets.length || 0);\n\nif (count === 0 || targets.length === 0) {\n    msg.payload = 'Aucune cible détectée';\n    return msg;\n}\n\nlet text = `<strong>📊 Liste des cibles (${count}):</strong><br><br>`;\ntargets.forEach(function(t, idx) {\n    const x = Number(t.x) || 0;\n    const y = Number(t.y) || 0;\n    const dist = Number(t.distance_cm) || 0;\n    const speed = Number(t.speed) || 0;\n    const angle = Math.atan2(x, y) * 180 / Math.PI;\n    text += `<strong>🎯 Cible ${idx + 1}:</strong><br>`;\n    text += `   • Distance: ${dist.toFixed(1)}cm<br>`;\n    text += `   • Angle: ${angle.toFixed(1)}°<br>`;\n    text += `   • Vitesse: ${speed}cm/s<br>`;\n    text += `   • Position: (${x}mm, ${y}mm)<br><br>`;\n});\n\nmsg.payload = text;\nreturn msg;",
        "outputs": 1,
        "x": 700,
        "y": 240,
        "wires": [["targets-list-display"]]
    },
    {
        "id": "targets-list-display",
        "type": "ui_text",
        "name": "Liste des cibles",
        "group": "radar-group",
        "order": 2,
        "width": 6,
        "height": 5,
        "format": "<div style=\"max-height: 400px; overflow-y: auto; padding: 10px; white-space: pre-wrap; font-family: monospace; line-height: 1.6;\">{{payload}}</div>",
        "layout": "row-spread",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "sensor-data-display",
        "type": "ui_text",
        "name": "Détails capteur",
        "group": "radar-group",
        "order": 2,
        "width": 6,
        "height": 5,
        "format": "{{payload}}",
        "layout": "row-spread",
        "x": 900,
        "y": 80,
        "wires": []
    },
    {
        "id": "radar-update",
        "type": "function",
        "name": "Préparer données radar",
        "func": "const d = msg.payload.details || {};\nconst targets = d.targets || [];\nconst count = d.count || 0;\n\n// Préparer les données pour le radar\nmsg.payload = {\n    count: count,\n    targets: targets.map(function(t) {\n        var x = t.x || 0;\n        var y = t.y || 0;\n        // Utiliser distance_cm si disponible, sinon calculer depuis x et y\n        var dist = t.distance_cm;\n        if (!dist || dist === 0 || isNaN(dist)) {\n            // Calculer depuis x et y (en mm) vers cm\n            dist = Math.sqrt(x*x + y*y) / 10.0;\n        }\n        return {\n            x: x,\n            y: y,\n            distance: dist,\n            speed: t.speed || 0\n        };\n    })\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 700,
        "y": 120,
        "wires": [["radar-visualization"]]
    },
    {
        "id": "radar-visualization",
        "type": "ui_template",
        "name": "Radar",
        "group": "radar-group",
        "order": 1,
        "width": "12",
        "height": 0,
        "format": "<div style=\"text-align: center; padding: 10px; width: 100%;\"><h3 style=\"margin: 0 0 10px 0; color: #333;\">🎯 Visualisation Radar</h3><canvas id=\"radar-{{$id}}\" width=\"1200\" height=\"700\" style=\"border: 2px solid #4CAF50; border-radius: 8px; background: #000; width: 100%; max-width: 1200px; height: auto;\"></canvas><div id=\"info-{{$id}}\" style=\"margin-top: 10px; color: #666; font-size: 12px;\">Aucune cible</div></div><script>(function(scope){var n='{{$id}}';var c=document.getElementById('radar-'+n);if(!c)return;var ctx=c.getContext('2d');var i=document.getElementById('info-'+n);var w=c.width,h=c.height,cx=w/2,cy=h-30,md=6000,s=(h-60)/md;function dr(){ctx.clearRect(0,0,w,h);ctx.strokeStyle='#4CAF50';ctx.lineWidth=1;for(var j=1;j<=6;j++){var r=j*1000*s;ctx.beginPath();ctx.arc(cx,cy,r,Math.PI,0,false);ctx.stroke();ctx.fillStyle='#4CAF50';ctx.font='12px Arial';ctx.fillText(j+'m',cx,cy-r+15);}ctx.strokeStyle='#4CAF50';ctx.lineWidth=2;ctx.beginPath();ctx.moveTo(cx,0);ctx.lineTo(cx,cy);ctx.stroke();ctx.beginPath();ctx.moveTo(0,cy);ctx.lineTo(w,cy);ctx.stroke();ctx.strokeStyle='#FFC107';ctx.lineWidth=1;ctx.setLineDash([5,3]);var a60=Math.PI/3,mr=6*1000*s;ctx.beginPath();ctx.moveTo(cx,cy);ctx.lineTo(cx-mr*Math.sin(a60),cy-mr*Math.cos(a60));ctx.stroke();ctx.beginPath();ctx.moveTo(cx,cy);ctx.lineTo(cx+mr*Math.sin(a60),cy-mr*Math.cos(a60));ctx.stroke();ctx.setLineDash([]);ctx.fillStyle='#FFC107';ctx.font='11px Arial';ctx.fillText('±60°',10,20);ctx.fillStyle='#F44336';ctx.beginPath();ctx.arc(cx,cy,8,0,Math.PI*2);ctx.fill();ctx.strokeStyle='#FFF';ctx.lineWidth=2;ctx.stroke();ctx.fillStyle='#F44336';ctx.font='bold 11px Arial';ctx.fillText('📡 CAPTEUR',cx,cy-20);}function ut(d){dr();if(!d){if(i)i.textContent='En attente de données...';return;}if(!d.targets||d.targets.length===0){if(i)i.textContent='Aucune cible détectée';return;}var ts=d.targets,cs=['#FF5722','#2196F3','#9C27B0'];var displayed=0;ts.forEach(function(t,idx){var x=Number(t.x)||0,y=Number(t.y)||0,dist=Number(t.distance)||0;if(!dist||dist===0||isNaN(dist)){if((x!==0||y!==0)&&!isNaN(x)&&!isNaN(y)){dist=Math.sqrt(x*x+y*y)/10.0;}}if(isNaN(dist))dist=0;var xp=cx+(x/10)*s,yp=cy-(y/10)*s;if(y>0&&dist>0&&dist<=600){displayed++;var col=cs[idx%cs.length];ctx.strokeStyle=col;ctx.lineWidth=2;ctx.setLineDash([4,2]);ctx.beginPath();ctx.moveTo(cx,cy);ctx.lineTo(xp,yp);ctx.stroke();ctx.setLineDash([]);ctx.fillStyle=col;ctx.beginPath();ctx.arc(xp,yp,8,0,Math.PI*2);ctx.fill();ctx.strokeStyle='#FFF';ctx.lineWidth=2;ctx.stroke();ctx.fillStyle=col;ctx.font='bold 11px Arial';ctx.fillText('Cible '+(idx+1),xp+12,yp-5);ctx.font='10px Arial';ctx.fillText(dist.toFixed(1)+'cm',xp+12,yp+8);}});if(i){if(displayed===0){i.textContent='Aucune cible dans la zone (Y>0, dist<=6m) | Total: '+(ts.length||0);}else{i.innerHTML='<strong>'+displayed+'/'+(ts.length||0)+' cible(s) affichée(s)</strong> | Zone: 6m, ±60°';}}}dr();var updateData=function(data){if(data&&typeof data==='object'){ut(data);}else if(data&&data.payload){ut(data.payload);}};if(scope.msg){updateData(scope.msg.payload);}scope.$watch('msg.payload',function(nv){updateData(nv);});scope.$watch('msg',function(nv){if(nv&&nv.payload)updateData(nv.payload);});})(scope);</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 900,
        "y": 120,
        "wires": []
    },
    {
        "id": "local-broker",
        "type": "mqtt-broker",
        "name": "Local Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "radar-group",
        "type": "ui_group",
        "name": "Visualisation Radar",
        "tab": "lora-tab",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "details-group",
        "type": "ui_group",
        "name": "Détails capteur",
        "tab": "lora-tab",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "targets-group",
        "type": "ui_group",
        "name": "Liste des cibles",
        "tab": "lora-tab",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "stats-group",
        "type": "ui_group",
        "name": "Statistiques",
        "tab": "lora-tab",
        "order": 4,
        "disp": true,
        "width": "12"
    },
    {
        "id": "lora-tab",
        "type": "ui_tab",
        "name": "LoRa Gateway",
        "icon": "dashboard",
        "order": 1
    }
]
